<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>


<h3>Nearby Restaurants</h3>
<ul>
<% @restaurant.nearbys(2).each do |restaurant| %>
<li><%= link_to restaurant.name, restaurant %> <%= restaurant.distance.round(2) %> km</li>
<% end %>
</ul>


<%= image_tag "http://maps.google.com/maps/api/staticmap?size=700x500&zoom=5&markers=#{@restaurant.latitude}%2C#{@restaurant.longitude}&key=YOUR_API_KEY"%>
